.form {
    display: flex;
    padding: 3%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--background, #FFF);
    box-shadow: 0 0 20px 10px var(--accent-soft);
    width: fit-content;
    min-width: 80%;
}


.multiRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .multiRow {
        flex-direction: column;
    }

    .form {
        padding: 10%;
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

}