.help{}
.textContainer {
    border: 1px solid #5C983B;
    border-radius: 10px;
    /*Background-color: background;*/
}
.plaatje{
    width: 154px;
    height: 154px;
    object-fit: 'cover';
    border-radius: 9px;
}
.naam {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 28.8px;
    font-weight: 400;
    margin: 0;
}

.prijs {
    color: #6A6A6A;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;

}
