.help{}
.text-container {

    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

}

.naam {
    color: black;
    font-family: Inter, sans-serif;
    font-size: 28.8px;
    font-weight: 400;
    margin: 0;
}

.prijs {
    color: #6A6A6A;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;

}
