@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-bootstrap-icons";

:root {
    --primary: #5c983b;
    --primary-hover: #25632c;
    --accent-soft: #c9e9b5;
    --background: #ffffff;
    --surface: rgba(255, 255, 255, 0.01);
    --text: #1b1b1b;
    --muted-text: #6a6a6a;
}
:root[data-theme="dark"] {
        --primary: #5c983b;
        --primary-hover: #25632c;
        --accent-soft: #c7f5a9;
        --background: #0f1210;
        --surface: rgba(27, 31, 28, 0.01);
        --text: #f4f4f4;
        --muted-text: #a3a3a3;
        color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serifn, serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
p{
    font-size: 1rem;
}
small{
    font-size: 0.75rem;
}

header{
    display: flex;
    height: 100px;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--background);
    border-bottom: 5px solid var(--primary);
}
header nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.btn{
    background-color: var(--primary);
    color: var(--background);
    border: none;
}
.btn:hover{
    background-color: var(--primary-hover);
}

label{
    width: 100%;
}
.form-control{
    border: var(--primary) 1px solid;
    color: var(--text);
}
.form-control[type="file"]::file-selector-button {
    background-color: var(--primary);
    color: white;
}
.form-control[type="file"]:hover::file-selector-button {
    background-color: var(--primary-hover) !important;
    color: white;
}