@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-bootstrap-icons";

:root {
    --main-background: #f9f4e9;
    --secondary-background: #b594b6;
    --primary-background: #5c983b;
    --primary-border: #25632c;
    --secondary-border: #935fa7;
    --primary-text: #000000;
    --secondary-text: #3d3d3d;
    --contrast-1: #ffd166;
    --contrast-2: #ef476f;
    --contrast-3: #118ab2;
    --error: #d62828;
    --warning: #ffb703;
    --succes: #40916c;
    --divider: #e6e1d6;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-text);
  background: var(--main-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

* {
  box-sizing: border-box;
  font-family: Nunito, Arial, Helvetica, sans-serifn, serif;
  padding: 0;
  margin: 0;
    font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}
h1{
    font-size: 2.986rem;
}
h2{
    font-size: 2.488rem;
}
h3{
    font-size: 2.074rem;
}
h4{
    font-size: 1.728rem;
}
h5{
    font-size: 1.44rem;
}
h6 {
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}
small{
    font-size: 0.833rem;
}

header{
    display: flex;
    height: 100px;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--secondary-background);
    border-bottom: 5px solid var(--secondary-border);
}
header nav{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
