@import "bootstrap/dist/css/bootstrap.min.css";

.inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.inputParents {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}


.formControl {
    border-radius: 0.375rem !important;
    font-size: 0.95rem;
    padding: 0.45rem 0.75rem;
    transition: border-color 0.2s ease;
    flex: 1;

    /* Icon appearance */
    appearance: auto;
    -webkit-appearance: auto; /* Chrome / Edge */
    -moz-appearance: auto;    /* Firefox */
}

.formControl:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

@media (max-width: 600px) {
    .inputParents {
        flex-direction: column;
    }
}