.startFrame{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 0.625rem;
}

.frame{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 0.625rem;
    border: 5px solid var(--secondary-border);
}

.image{
    display: flex;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: url("../../../public/LoginBackGround.jpg") lightgray 50% / cover no-repeat;
}

.loginRegister{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 31.25rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    align-self: stretch;
    background: var(--secondary-background);
}