/* Page layout */
.main {
    display: flex;
    width: auto;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #1B1B1B;
    background: #FFF;
}

.card {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 20px 10px #C9E9B5;
}

.input{
    display: flex;
    padding: 9px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #6A6A6A;
    background: #FFF;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkInput{
    accent-color: #25632C;
    width: 16px;
    height: 16px;
    color-scheme: transparent;
}

.button {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 6px;
    background: #5C983B;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}