/* Page layout */
.main {
    display: flex;
    width: auto;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #1B1B1B;
    background: #FFF;
}

.card {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 20px 10px #C9E9B5;
}