.kaas{}

.balkTekst {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    color: var(--muted-text);
}

.balkAnimatie{
    transition: width 0.6s linear;
    background: var(--accent-soft);
}
/*style={{*/
/*    width: `${percentage}%`,*/
/*    transition: 'width 0.1s linear',*/
/*    backgroundColor: 'var(--accent-soft)'*/
/*}}*/