.help{}

.wrapper{
background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    gap: 10px;
    font-family: Inter, sans-serif;
    position: relative;

}

.plaatje {
    width: 300px;
    height: 300px;
    background-color: #3A3A3A; /* Placeholder background */
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #25632C;
    align-self: center;
}

.tekstContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.naam {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.prijs {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-decoration: line-through;
    opacity: 0.8;
}

.knop {
    background-color: #5C983B;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border: none;
    padding: 16px 24px;
    border-radius: 6px;
    width: 240px;
}

